<style>
  body {
    background-color: #edc77f;
  }
  h1 {
    font-size: 20px;
    text-align: center;
    color: rgba(0,0,0,0.6);
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2),0px -5px 35px rgba(255,255,255,0.3);
  }
  button {
    background-color: #4CAF50; /* Green */
    position: absolute;
    left: 45%;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
  }
</style>
